.view_susbcriptions_page {
  padding: 4rem;
  height: 100vh;
  width: 100vw;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #1d1471, #5a0f62);
  background-position: 50% 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 4vw;
}

.inner {
  position: absolute;
}

/* The following are for the circle */

.circle {
  display: flex;
  width: 10vw;
  height: 10vw;
  background: #50c878;
  /*url("../images/nft-image.jpg") center center/cover no-repeat;*/
  border-radius: 50%;
  transition: transform 0.2s; /* Animation */
  margin: 0.5vw;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.circle:hover {
  transform: scale(
    1.1
  ); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.text {
  margin: auto;
  color: #fff;
  font-size: 10vw;
}

/* This is for the token */

.token_container {
  width: 16vw;
  height: 16vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscription_name {
  width: 11vw;
  height: 2vw;
  font-family: "Serif";
  color: white;
}

.subscription_expiry {
  width: 11vw;
  height: 2vw;
  display: flex;
  justify-content: end;
  font-family: "Serif";
  color: white;
}

/* container for all the tokens */
.subscriptions_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin-top: 3vw;
}

.subscriptions_wrapper {
  position: relative;
  flex-direction: row;
  width: 60vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.items {
  margin-bottom: 24px;
  flex-direction: row;
}

@media only screen and (min-width: 1024px) {
  .items {
    display: flex;
  }
}

/**Checkout Popup**/

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

.checkout .btn-close {
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  right: 1.1vw;
  top: 1.1vw;
  z-index: 9991;
  color: black;
  background: color;
  border-radius: 50px;
  width: 2vw;
  height: 2vw;
  line-height: 20vw;
  opacity: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout .maincheckout {
  position: relative;
  border-radius: 2vw;
  background: white;
  padding: 1.5vw;
  width: 100%;
  max-width: 40vw;
  height: max-content;
  margin: 5vw 0 0;
}

.checkout .maincheckout .heading {
  display: flex;
  width: 36vw;
  font-size: 1.5vw;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  margin: 0.3vw;
}

.checkout .maincheckout .heading .subtotal {
  color: black;
  font-size: 15px;
}
.checkout .maincheckout .detailcheckout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout .maincheckout .detailcheckout .listcheckout {
  width: 100%;
  display: flex;
  align-items: left;
  flex-direction: column;
}
.checkout .maincheckout .detailcheckout .listcheckout .thumb {
  width: 90px;
}
.checkout .maincheckout .detailcheckout .listcheckout .description {
  padding: 15px;
}
.checkout .maincheckout .detailcheckout .listcheckout .description h3,
.checkout .maincheckout .detailcheckout .listcheckout .description p {
  margin-bottom: 0;
}
.checkout .maincheckout .detailcheckout .listcheckout input {
  margin: 10px 0 15px;
}
.checkout .maincheckout .detailcheckout .price {
  font-weight: 600;
}
.checkout .maincheckout .agrement {
  display: flex;
  align-items: center;
}
.checkout .maincheckout .agrement label {
  padding-left: 5px;
}
.checkout .maincheckout .btn-main {
  width: 100%;
  margin: 30px auto;
  margin-bottom: 15px !important;
}
.checkout .maincheckout .bold {
  color: black;
  font-weight: bold;
}
