.subscription-cards {
  padding: 4rem;
  height: 100vh;
  width: 100vw;

  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

h1 {
  text-align: center;
}

.inner {
  position: absolute;
}

/* The following are for the circle */

.circle {
  display: flex;
  width: 20vw;
  height: 20vw;
  background: #50c878;
  /*url("../images/nft-image.jpg") center center/cover no-repeat;*/
  border-radius: 50%;
  border: 10px red solid;
  transition: transform 0.2s; /* Animation */
  margin: 0.5vw;
}

.circle:hover {
  transform: scale(
    1.1
  ); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.text {
  margin: auto;
  color: #fff;
  border: 1px red solid;
  font-size: 0.5rem;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  align-items: center;
  max-width: 100vw;
  width: 90vw;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  margin-top: 3vw;
  flex-direction: row;
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.items {
  margin-bottom: 24px;
  flex-direction: row;
}

@media only screen and (min-width: 1024px) {
  .items {
    display: flex;
  }
}
