/* THIS IS FOR MARKETPLACECOMPANIES PAGE */

/* Background gradient */
.subscription_cards_page {
  padding: 4rem;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  font-size: 30px;
  background: linear-gradient(0deg, #1d1471, #c642b6, #5a0f62);
  background-size: 200% 200%;

  -webkit-animation: Animation 10s ease infinite;
  -moz-animation: Animation 10s ease infinite;
  animation: Animation 10s ease infinite;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

/* header */
h1 {
  text-align: center;
  margin: 0.1vw;
  color: #fff;
}

/* This is for the area that the company cards will go in*/
.company_cards_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 100vw;
  width: 90%;
  margin: 0 auto;
}

.company_cards_wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.company_cards_items {
  margin-bottom: 24px;
}

/* These are for the cards themselves */
.company_cards_item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10%;
  width: 30vw;
  height: 15vw;
}

.company_cards_item_link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 5);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 0.75vw;
  overflow: hidden;
  text-decoration: none;
}

/* these are for the image */
.company_cards_item_pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 30%;
  overflow: hidden;
  border-color: black;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.company_cards_item_pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.company_cards_item_img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 508px;
  max-width: 100%;
  height: 185px;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.company_cards_item_img:hover {
  transform: scale(1.1);
}

/* these are for the name of the provider */
.company_cards_provider_name {
  padding: 2vw 1.5vw 1.5vw;
}

.company_cards_text {
  color: #f5f5dc;
  font-size: 3vw;
  line-height: 24px;
  align-items: center;
  flex-direction: center;
  text-align: center;
}

/* THIS IS FOR SALETOKENCARDPAGE */

.token_market_card_page {
  padding: 4rem;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  font-size: 30px;
  background: linear-gradient(0deg, #1d1471, #c642b6, #5a0f62);
  background-size: 200% 200%;
}

/* for display purposes */
@media only screen and (min-width: 1200px) {
  .company_content_blog_container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .company_cards_items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .company_cards_item {
    margin-bottom: 2rem;
  }
}




/**Checkout**/

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.checkout .btn-close {
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 9991;
  color: white;
  background: color;
  border-radius: 50px;
  width: 26px;
  height: 26px;
  line-height: 26px;
  opacity: 1;
  text-align: center;
}
.checkout .maincheckout {
  position: relative;
  border-radius: 8px;
  background: white;
  padding: 30px;
  width: 100%;
  max-width: 500px;
  height: max-content;
  margin: 30px 0 0;
}
.checkout .maincheckout .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.checkout .maincheckout .heading p {
  margin-bottom: 0;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: normal;
}
.checkout .maincheckout .heading .subtotal {
  color: black;
  font-size: 15px;
}
.checkout .maincheckout .detailcheckout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout .maincheckout .detailcheckout .listcheckout {
  width: 100%;
  display: flex;
  align-items: left;
  flex-direction: column;
}
.checkout .maincheckout .detailcheckout .listcheckout .thumb {
  width: 90px;
}
.checkout .maincheckout .detailcheckout .listcheckout .description {
  padding: 15px;
}
.checkout .maincheckout .detailcheckout .listcheckout .description h3, .checkout .maincheckout .detailcheckout .listcheckout .description p {
  margin-bottom: 0;
}
.checkout .maincheckout .detailcheckout .listcheckout input {
  margin: 10px 0 15px;
}
.checkout .maincheckout .detailcheckout .price {
  font-weight: 600;
}
.checkout .maincheckout .agrement {
  display: flex;
  align-items: center;
}
.checkout .maincheckout .agrement label {
  padding-left: 5px;
}
.checkout .maincheckout .btn-main {
  width: 100%;
  margin: 30px auto;
  margin-bottom: 15px !important;
}
.checkout .maincheckout .bold {
  color: black;
  font-weight: bold;
}
